<div class="summary-panel column3">
  <div class="column  first">
   <h3>Last Contact</h3>
   <p class="large">30 months ago</p>
   </div>

</div>

<div id="summary" class="pageRows">
<div id="pagerowsHeader">
<h2 class="title">History</h2>
<div id="buttons">
  <a class="add-action" href="#"><span class="icon">+</span>Add a Note</a></div>
</div><!-- pageHeader -->
<table width="100%" border="0">
  <tr>
    <td>
    <div class="note">
    <span class="creation">Note by Andrea Alberici on 28 Sep</span>
    <p class="about"><a href="#">Problem with invoice</a></p>
    <p class="attachments-pdf"><a href="#">paper R Apache.pdf</a></p>
    </div>
    <div class="buttons-action">
      <span class="edit"><a class="btn-grey" href="#">edit</a></span><span class="delete"><a href="#"><img src="images/icons/trash.png" width="20" height="20" /></a></span>
    </div>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
    <tr>
    <td>
    <div class="attach">
    <span class="creation">Attached by andrea alberici on 27 Sep</span>
    <p class="about"><a href="#">Problem with invoice</a></p>
    <p class="attachments-file"><a href="#">Free_Twitter_Follower_Report_on_aalberici_(09_19_2014-09_25_2014_PDT).pptx</a></p>
    </div>
    <div class="buttons-action">
      <span class="edit"><a class="btn-grey" href="#">edit</a></span><span class="delete"><a href="#"><img src="images/icons/trash.png" width="20" height="20" /></a></span>
    </div>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  
    <tr>
    <td>
    <div class="note">
    <span class="creation">Note by Andrea Alberici on 27 Sep</span>
    <p class="about"><a href="#">Problem with invoice</a></p>
    <p>testo per note</p>
    </div>
    <div class="buttons-action">
      <span class="edit"><a class="btn-grey" href="#">edit</a></span><span class="delete"><a href="#"><img src="images/icons/trash.png" width="20" height="20" /></a></span>
    </div>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>
    <div class="completed">
    <span class="creation">Completed by andrea alberici on 6 Apr 2012</span>
    <p class="about"><a href="#">Problem with invoice</a></p>
    <p>testo per note</p>
    </div>
    <div class="buttons-action">
      <span class="edit"><a class="btn-grey" href="#">edit</a></span><span class="delete"><a href="#"><img src="images/icons/trash.png" width="20" height="20" /></a></span>
    </div>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>


</table>

</div>