<div id="more_list_actions" class="pageRight">
<ul>
<li class="csv">
<a href="#">Export to CSV</a><br />
Export everyone in this list to a CSV file suitable for Excel 
</li>
<li class="vcard">
<a href="#">Export to vCard</a><br />
Export everyone in this list to a vCard file
</li>
<li class="mailchimp">
<a href="#">Get started with MailChimp</a><br />
Learn more about using MailChimp for email marketing.
</li>
<li class="mail-list">
<a href="#">Email this list</a><br />
Generate recipient email list
</li>
<li class="add-tag">
<a href="#">Add tag</a><br />
Add a tag to everyone on this list
</li>
<li class="add-note">
<a href="#">Add note</a><br />
Add a note to everyone on this list
</li>
<li class="delete">
<a href="#">Delete contacts</a><br />
Delete everyone on this list
</li>
</ul>
</div>