<div id="profileDetails" ng-if="retrieveable">
<form editable-form name="accountForm" onaftersave="saveModule()">
<div id="profileHeader">
<div id="profile-pic"><img src="images/profiles/andrea.jpg"></div><span class="name">{{accountname}}</a></span><br /> at <a href="http://{{website}}">{{website}}</a>
    <div class="profileEdit">	
        <a ng-click="accountForm.$show()" ng-show="!creating && updateable && !accountForm.$visible">{{'Edit' | i18next}}</a>
        <a ng-click="accountForm.$show()" ng-show="creating && updateable && !accountForm.$visible">{{'Create' | i18next}}</a>
        <button type="submit" class="buttons add-action" ng-show="accountForm.$visible">{{'Save' | i18next}}</button>
        
</div>
</div>
    
	<ul class="contact-details" ng-repeat="row in modulefieldList">
		<li ng-repeat="field in row">
		  <b>{{field.label}}</b>
		  
			<span ng-if="field.type=='string'" editable-text="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='phone'" editable-tel="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='url'" editable-url="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='reference'" editable-text="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}" e-typeahead="acc for acc in accs | filter:$viewValue | limitTo:8">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='email'" editable-email="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='integer'" editable-number="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='picklist'" editable-select="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}" e-ng-options="s.value as s.label for s in field.picklistValues">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='currency'" editable-number="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='boolean'" editable-checkbox="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='owner'" editable-text="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}" e-typeahead="usr for usr in usrs | filter:$viewValue | limitTo:8">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='datetime'" editable-bsdate="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='date'" editable-bsdate="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='time'" editable-bstime="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='text'" editable-textarea="moduleData.{{field.field}}" e-name="{{field.field}}" id="{{field.field}}">{{getModuleValue(field.field)}}</span>
			<span ng-if="field.type=='autogenerated'" e-name="moduleData.{{field.field}}">{{getModuleValue(field.field)}}</span>
		 
		</li>
	</ul>
            <button type="submit" class="add-action" ng-show="accountForm.$visible">{{'Save' | i18next}}</button>
            <button type="button" class="add-action" ng-click="accountForm.$hide()" ng-show="accountForm.$visible">{{'Cancel' | i18next}}</button>
            <button type="button" class="add-action" ng-click="doDelete(recordid)" ng-show="deleteable">{{'Delete' | i18next}}</button>
</form>
</div>