<div id="summary" class="pageRows">
<div id="pagerowsHeader">
<h2 class="title">Parametri Vitali</h2>
<div id="buttons">
 <!-- <a class="add-action" href="#"><span class="icon">+</span></a>-->
</div>
</div><!-- pageHeader -->
<table width="100%" border="0">
  <tr>
    <td>
    <div class="note">
    <span class="creation"> </span>
    <p >BLOOD PRESSURE</p>
    <p class="attachments-pdf">{{bloodpresure}}</p>
    </div>
    </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <td>
    <div class="note">
    <span class="creation"> </span>
    <p >BLOOD PRESSURE</p>
    <p >{{bloodpresure}}</p>
    </div>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>
    <div class="note">
    <span class="creation"> </span>
    <p >WEIGHT</p>
    <p class="attachments-pdf">{{weight}}</p>
    </div>
    </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <td><div class="note">
    <span class="creation"> </span>
    <p >WEIGHT</p>
    <p >{{weight}}</p>
    </div>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>
    <div class="note">
    <span class="creation"> </span>
    <p >BLOOD PRESSURE</p>
    <p class="attachments-pdf">{{bloodpresure}}/{{bloodpressdi}}</p>
    </div>
    </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <td><div class="note">
    <span class="creation"> </span>
    <p >BLOOD PRESSURE</p>
    <p >{{bloodpresure}}/{{bloodpressdi}}</p>
    </div>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <!-- issues -->
<tr ng-repeat="records in issues" >
    <td>
    {{records.issuesname}}&nbsp;&nbsp; {{records.idaffidamento}}
    </td>
    
  </tr>

</table>

</div>