<div id="topHeader" ng-controller="navtop" ng-include="'partials/navtop.html'"></div>
<div id="leftNavigation" ng-controller="navigationCtrl"  ng-include="'partials/navside.html'"></div><!-- leftNavigation -->

<div id="pageWrapper">
<div class="pageLeft">
<div id="pageHeader">
<h2 class="title">{{moduleLabel | i18next}}</h2>
<div class="button-add"><a href="#/cid_moduleview/{{module}}/11" ng-show="createable">Aggiungi {{moduleLabel | i18next}}</a></div>
</div><!-- pageHeader -->

<div id="pageFilter">
<input placeholder="Cerca..." ng-model="searchText.$">
<input ng-if="modules=='Vitals'" placeholder="Cerca Paziente" ng-model="searchPat" ng-keyup="get_contact()">
<div class="new-list"></div>
<div id="viewResult">Mostra 1 al 5 di {{myPageItemsCount}}</div>
</div>
<!-- pageFilter -->

<div id="listPeople" class="pageRows">
<table width="100%" border="0" ng-table="tableParams" >
   <tr ng-repeat="records in $data | filter:searchText:strict">
    <td id="profileCol"  >
        <span class="name"><a href="#/cid_moduleview/{{module}}/{{records.id}}">{{records[linkfields[0]]}}</a> </span>   {{records[fields[1]]}}<br />
        <span class="address"> {{records[fields[2]]}} ,{{records[fields[3]]}}</span><br />
     
    </td>
    <td>
        {{records[fields[4]]}}<br />
        {{records[fields[5]]}}
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>
</div>
    <div ng-include="'partials/cid_list_actions.html'"></div>
    </div>
