
  <!--<div id="search_bar" class="inline"><input type="text" id="search"  placeholder="Search..."><input name="search" id="button" type="button" value="search" /></div>
  -->
  <img src="images/phb_logo2.png" style="width: 13em;height: 4.0em;margin-top: -7px;"/>
    
    <div class="topHeader-right">                     
    <div id="profileWrapper" class="inline dropDown">
     <div id="profile_more_actions"><img id="profile-pic" src="images/profiles/andrea.jpg"><span class="profile-name">andrea alberici</span></div>
     <div class="menuAction">
     <ul>
      <!--<li class="preferences"><a >My Preferences</a></li>-->
      <!--<li class="help"><a href="#/emailus">Help</a></li>-->
      <!--<li class="look"><a href="#">Try New Look</a></li>-->
      <li class="logout"><a href="#/logout">Esci</a></li>
     </ul>
     </div>
    </div>
    
    <div id="add_new_actions" class="inline dropDown">
    <div id="more_actions">Aggiungi Nuovo<span class="arrow"></span></div>
     <div class="menuAction">
      <ul>
        <li><a href="#/cid_moduleview/Visit/11">Visite</a></li>
        <li><a href="#/cid_moduleview/Vitals/11">Parametri Vitali</a></li>
      </ul>
      </div>
    </div>
    </div><!-- topHeader-right -->
