<h2>{{'Referral' | i18next}}</h2>
<div class= "col-md-offset-1 col-md-10">
<strong>{{'Thank you' | i18next}}</strong> {{'forTakingTime' | i18next}}<br>
<form name="referral" class="col-md-8 css-form" role="form">
	<div class="form-group">
		<label for="name">{{'Name' | i18next}}</label>
		<input type="text" name="name" ng-model="name" class="form-control" placeholder="{{'Enter name' | i18next}}" required>
	</div>
	<div class="form-group">
		<label for="company">{{'Company' | i18next}}</label>
		<input type="text" name="company" ng-model="company" class="form-control" placeholder="{{'Enter Company name' | i18next}}">
	</div>
	<div class="form-group">
		<label for="phone">{{'Phone Number' | i18next}}</label>
		<input type="phone" name="phone" ng-model="phone" class="form-control" placeholder="{{'Enter Contact phone' | i18next}}">
	</div>
	<div class="form-group">
		<label for="email">{{'Email' | i18next}}</label>
		<input type="email" name="email" ng-model="email" class="form-control" placeholder="{{'Enter Contact email' | i18next}}" required>
	</div>
	<div class="alert alert-success" role="alert" ng-show="emailsent" ng-bind-html="comment"></div>
	<button type="button" class="btn btn-success" ng-click="doSendReferralEmail()" ng-show="referral.$valid && !emailsent" style="float:right;">{{'Send' | i18next}} >></button>
</form>
</div>